@font-face {
  font-family: "starbucks";
  src: url("../assets/fonts/Freight\ Sans\ Black.otf");
  font-weight: 700;
}

/*global configs*/
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

html,
#page {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 50%;
  font: normal 12px/2em "Century Gothic";
}

img {
  height: 200px;
  width: 200px;
  margin: 25px auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
img.smol {
  height: 150px;
  width: 150px;
}
img.prod {
  width: 175px;
  height: 175px;
  border-radius: 40px;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

/* Header configuration */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: White;
  margin: 0;
  padding: 0;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  word-wrap: break-word;
}

h1,
h2,
h3 {
  font-family: "starbucks";
}

h4,
h5,
h6 {
  font-family: "Century Gothic";
}

h1 {
  font-size: 3em;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

h2 {
  letter-spacing: 1.25px;
  font-size: 2em;
  margin-bottom: 15px;
}

h3 {
  letter-spacing: 1.55px;
  font-size: 1.2em;
}
h4 {
  letter-spacing: 1.55px;
  font-size: 0.75em;
  height: 100%;
  max-width: 250px;
}
h5 {
  letter-spacing: 1.55px;
  font-size: 1em;
  width: 80%;
}
p {
  font-size: 1em;
  text-align: center;
  width: 100%;
}
/*body-layout configuration*/
.default-layout-body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: auto, auto;
  justify-content: space-between;
  overflow: clip;
}

/* layout positioning of the 3 parts  */
.default-layout-body .nav {
  position: sticky;
}

.default-layout-body .content {
  height: 100%;
  /* padding: 10px 20px; */
  min-height: calc(100vh - 102px);
  min-width: 100vw;
  overflow-y: auto;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 0 auto 0px;
  align-items: space-between;
  background: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05)
    ),
    url("../assets/bg/background.jpg");
  background-size: contain;
}

.default-layout-body .footer {
  position: sticky;
}

/* layout of contents of the part's bodies*/
.nav .nav-body {
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  color: white;
  background-color: rgb(120, 59, 2);
}

.content .content-body {
  background-attachment: fixed;
  overflow: none;
  padding: 20px;
  display: grid;
  place-items: initial;
  justify-items: center;
  justify-content: space-around;
  /* height: 100%; */
}

#removeBtn {
  background-color: green;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 20px;
  text-decoration: none;
  color: white;
  transition-duration: 0.75s;
}

#removeBtn:hover {
  background-color: red;
  color: white;
}

.footer .footer-body {
  color: black;
  height: 100%;
  display: grid;
  align-content: center;
  background-color: darkgreen;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/*... inner layers */
.content-body .welcome {
  color: white;
  text-align: center;
}

/*...  box-design */
.dialogue-box {
  justify-items: center;
  justify-content: space-evenly;

  max-height: 100%;
  width: 40vw;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: rgb(6, 77, 6);
  border: 1px solid black;
  border-radius: 10px;
}
.dialogue-box-alt {
  justify-items: center;
  justify-content: space-evenly;
  max-height: 100%;
  width: 35vw;
  padding: 25px;
  background-color: rgba(6, 77, 6, 0.7);
  border: 1px solid black;
  border-radius: 10px;
}
.dialogue-box-alt-wide {
  justify-items: center;
  justify-content: space-evenly;
  max-height: 100%;
  width: 50vw;
  padding: 25px;
  background-color: rgba(6, 77, 6, 0.7);
  border: 1px solid black;
  border-radius: 10px;
}
.dialogue-box-plus {
  justify-items: center;
  justify-content: space-evenly;
  min-height: 65vh;
  max-height: 65vh;
  width: 75vw;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: rgba(6, 77, 6, 0.8);
  border: 1px solid black;
  border-radius: 10px;
}

/*Input configuations*/
input.text {
  width: 75%;
  text-align: center;
  font-family: "Century Gothic";
  background-color: transparent;
  padding: 15px;
  margin: 5px 0;
  border: none;
  border-bottom: 2px solid black;
  color: white;
}

input.text:focus {
  text-align: center;
  border: none;
}
select {
  color: white;
  font-family: "Century Gothic";
  height: 45px;
  margin: 5px;
  max-width: 45%;
  background-color: transparent;
  border: none;
  border-bottom: 3px black solid;
  transition-duration: 0.5;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
select option {
  color: white;
  background-color: black;
  border: none;
}
select.sizeField {
  border-bottom: 3px white solid;
}
select.sizeField option {
  color: black;
  background-color: white;
  border: none;
}

button.button {
  color: black;
  margin: 10px;
  padding: 10px 0;
  width: 50%;
  background-color: white;
  border: none;
  border-radius: 25px;
  transition-duration: 0.5s;
}

button.button:hover {
  color: white;
  margin: 10px;
  background-color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/*horizontal-scroll*/
.scrollmenu {
  max-height: 100%;
  max-width: 100%;
  margin: 5px;
  padding: 4px;
  overflow-x: auto;
  white-space: nowrap;
  transition-duration: 1s;
}

.scrollmenu .scroll {
  display: inline-block;
  min-width: 350px;
  max-width: 100%;
  max-height: 100%;
}

.product {
  word-wrap: break-word;
  border: 1px solid black;
  border-radius: 20px;
  margin: 25px 0px;
  padding: 30px 15px;
  min-width: 255px;
  max-width: 255px;
  background-color: #000000ed;
}

input[type="number"] {
  width: 65px;
  height: 50px;
  border-radius: 10px;
  font-family: "starbucks";
  font-size: 30px;
  background-color: transparent;
  color: white;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  padding: 20px 0px;
  background-color: transparent;
  margin: 0;
  opacity: 1;
}

/*Table layouts and designs*/
/* #cart {
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0 20px 0;
  background-color: white;
} */

#cartTable {
  margin: 0 auto;
  border-spacing: 0.5em;
  color: white;
}

.tableLabel {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  width: 100px;
}

.tableValue {
  text-align: center;
}
