* {
  margin: 0;
  padding: 0;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}
/* The typing effect */

html,
#page {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #959595;
  font: normal 12px/2em Sans-Serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: White;
}

.default-layout-body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: auto, auto;
  overflow: clip;
}

/* layout positioning of the 3 parts  */
.default-layout-body .nav {
  position: sticky;
}
.default-layout-body .content {
  height: 100%;
  min-height: calc(100vh - 102px);
  overflow-y: auto;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 0 auto 0px;
  align-items: space-between;
  background-image: url(assets/bg/background.jpg);
  background-size: contain;
}
.default-layout-body .footer {
  margin-bottom: 1%;
  position: sticky;
}

/* layout of contents of the part's bodies*/
.nav .nav-body {
  min-height: 45px;
  padding: 0 16px 0 16px;
  display: grid;
  justify-content: center;
  align-content: center;
  color: white;
  background-color: rgb(120, 59, 2);
}
.content .content-body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: none;
  padding: 20px;
  display: grid;
  place-items: center;
  transition-duration: 0.6s;
  justify-items: center;
  justify-content: center;
  height: 100%;
}
.footer .footer-body {
  color: black;
  min-height: 40px;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: darkgreen;
}

/*... inner layers */
.content-body .welcome {
  color: white;
  text-align: center;
}

/*...  label design */
.dialogue-box {
  justify-items: center;
  justify-content: space-evenly;

  max-height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 128, 0, 0.705);
  border: 1px solid black;
  border-radius: 10px;
}
