@font-face {
  font-family: "starbucks";
  src: url("assets/fonts/Freight\ Sans\ Black.otf");
  font-weight: 700;
}

/*global configs*/
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

html,
#page {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font: normal 12px/2em "Century Gothic";
}
img {
  height: 200px;
  width: 200px;
  margin: 25px auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
img.smol{
  height: 100px;
  width: 100px;
}
img.prod{
  border-radius: 25px;
}

/* Header configuration */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: White;
  margin: 0;
  padding: 0;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  word-wrap: break-word;
}

h1,
h2,
h3 {
  font-family: "starbucks";
}
h4,
h5,
h6 {
  font-family: "Century Gothic";
}

h1 {
  font-size: 3em;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
h2 {
  letter-spacing: 1.25px;
  font-size: 1.75em;
  margin-bottom: 15px;
}
h3 {
  letter-spacing: 1.55px;
  font-size: 1.2em;
}
h4{
  letter-spacing: 1.55px;
  font-size: 1.1em;
}
h5{
  letter-spacing: 1.55px;
  font-size: 1.0em;
}

/*body-layout configuration*/
.default-layout-body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: auto, auto;
  overflow: clip;
}

/* layout positioning of the 3 parts  */
.default-layout-body .nav {
  position: sticky;
}
.default-layout-body .content {
  height: 100%;
  min-height: calc(100vh - 102px);
  overflow-y: auto;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 0 auto 0px;
  align-items: space-between;
  background-image: url(assets/bg/background.jpg);
  background-size: contain;
}
.default-layout-body .footer {
  position: sticky;
}

/* layout of contents of the part's bodies*/
.nav .nav-body {
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  color: white;
  background-color: rgb(120, 59, 2);
}
.content .content-body {
  background-attachment: fixed;
  overflow: none;
  padding: 20px;
  display: grid;
  place-items: center;
  justify-items: center;
  justify-content: center;
  height: 100%;
}
.footer .footer-body {
  color: black;
  height: 100%;
  display: grid;
  align-content: center;
  background-color: darkgreen;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/*... inner layers */
.content-body .welcome {
  color: white;
  text-align: center;
}

/*...  box-design */
.dialogue-box {
  justify-items: center;
  justify-content: space-evenly;

  max-height: 100%;
  width: 40vw;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: rgb(6, 77, 6);
  border: 1px solid black;
  border-radius: 10px;
}
.dialogue-box-plus {
  justify-items: center;
  justify-content: space-evenly;

  max-height: 100%;
  width: 75vw;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  background-color: rgb(6, 77, 6);
  border: 1px solid black;
  border-radius: 10px;
}

/*Input configuations*/
input.text {
  width: 75%;
  text-align: center;
  font-family: "Century Gothic";
  background-color: transparent;
  padding: 15px;
  margin: 5px 0;
  border: none;
  border-bottom: 2px solid black;
  color: white;
}
input.text:focus {
  text-align: center;
  border: none;
}
select{
  width: 100%;
}
button.button {
  color: black;
  margin: 10px;
  padding: 10px 0;
  width: 50%;
  background-color: white;
  border: none;
  border-radius: 25px;
  transition-duration: 0.5s;
}
button.button:hover {
  color: white;
  margin: 10px;
  background-color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/*horizontal-scroll*/
.scrollmenu {
  max-height: 100%;
  max-width: 100%;
  margin: 5px;
  padding: 4px;
  overflow-x: auto;
  white-space: nowrap;
  transition-duration: 1s;
}
.scrollmenu .scroll {
  display: inline-block;
  min-width: 350px;
  max-width: 100%;
  max-height: 100%;
}
.product {
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  min-width: 300px;
  max-width: 350px;
  background-color: #ffffffad;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}